<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-primary"
            x-ng-click="upload_request.changeLanguage('en')">
      {{'LANGUAGE.ENGLISH' | translate}}
    </button>
    <button type="button" class="btn btn-primary"
            x-ng-click="upload_request.changeLanguage('fr')">
      {{'LANGUAGE.FRENCH' | translate}}
    </button>
  </div>
    {{logo}}
    <p x-translate="PARAGRAPH.WELCOME"
       x-translate-value-mail="{{upload_request.request.recipient.mail}}">
    </p>
    <p x-translate="PARAGRAPH.DESCRIPTION"
       x-translate-value-mail="{{upload_request.request.owner.mail}}">
    </p>
    <form class="form-horizontal" name="uploadRequestForm" novalidate
          x-ng-submit="upload_request.submit()">
      <fieldset>
        <legend>
          {{'LEGEND_MESSAGE' | translate}}
        </legend>
        <div class="form-group">
          <label class="control-label col-md-2">
            {{'LABEL_SUBJECT' | translate}}
          </label>
          <div class="col-md-10">
            <p class="form-control-static">
              {{upload_request.request.subject}}
            </p>
          </div>
        </div>
        <div class="form-group"
             x-ng-show="upload_request.request.body">
          <label class="control-label col-md-2">
            {{'LABEL_BODY' | translate}}
          </label>
          <div class="col-md-10">
            <p class="form-control-static">
              {{upload_request.request.body}}
            </p>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          {{'LEGEND_STATUS' | translate}}
        </legend>
        <div class="form-group">
          <label class="control-label col-md-2">
            {{'LABEL_ACTIVATION_DATE' | translate}}
          </label>
          <div class="col-md-10">
            <p class="form-control-static">
              {{upload_request.request.activationDate | date:medium}}
            </p>
          </div>
        </div>
        <div class="form-group"
             x-ng-show="upload_request.request.expiryDate">
          <label class="control-label col-md-2">
            {{'LABEL_EXPIRY_DATE' | translate}}
          </label>
          <div class="col-md-10">
            <p class="form-control-static">
              {{upload_request.request.expiryDate | date:medium}}
            </p>
            <p class="help-block">
              {{'DATE_HELP_BLOCK' | translate}}
            </p>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          {{'LEGEND_UPLOAD' | translate}}
        </legend>
        <div class="form-group"
             x-ng-show="upload_request.request.maxFileCount">
          <label class="control-label col-md-2">
            {{'LABEL_FILE_COUNT' | translate}}
          </label>
          <div class="col-md-10">
            <p class="form-control-static">
              {{upload_request.request.entries.length}} / {{upload_request.request.maxFileCount}}
            </p>
          </div>
        </div>
        <div class="form-group"
             x-ng-show="upload_request.request.maxDepositSize">
          <label class="control-label col-md-2">
            {{'LABEL_DEPOSIT_SIZE' | translate}}
          </label>
          <div class="col-md-10">
            <p class="form-control-static">
              {{upload_request.humanFileSize(upload_request.request.usedSpace)}} / {{upload_request.humanFileSize(upload_request.request.maxDepositSize)}}
            </p>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <div x-ng-if="upload_request.flowStarter" x-flow-init="{query: {'requestUrlUuid': upload_request.urlUuid, 'password': upload_request.password}}"
               x-flow-files-added="upload_request.validateFiles($files)"
               x-flow-complete="upload_request.tableParams.reload()"
               x-flow-file-error="upload_request.handleError($file, $message)"
               x-flow-files-submitted="$flow.upload()"
               x-ng-hide="upload_request.request.closed">

            <span class="label label-primary"
                  x-ng-show="upload_request.request.maxFileSize"
                  x-translate="FLOW.MAX_FILE_SIZE"
                  x-translate-value-size="{{upload_request.humanFileSize(upload_request.request.maxFileSize)}}">
            </span>
            <span class="label label-info"
                  x-translate="FLOW.FLOW_COUNT"
                  x-translate-value-count="{{$flow.getSize()}}">
            </span>
            <div class="drop"
                 x-flow-drop
                 x-flow-drag-enter="style={border: '2px #4cae4c dashed'}"
                 x-flow-drag-leave="style={border: '2px #46b8da dashed'}"
                 x-ng-style="style">
              <span class="btn btn-primary"
                    x-flow-btn
                    x-ng-disabled="upload_request.request.entries.length === upload_request.request.maxFileCount">
                <i class="fa fa-cloud-upload"></i>&nbsp;{{'FLOW.BUTTON_UPLOAD' | translate}}
              </span>
              <b>{{'FLOW.LABEL_OR_DROP' | translate}}</b>
            </div>
            <br>
            <div x-ng-repeat="file in $flow.files">
              <span>{{file.name}} ({{upload_request.humanFileSize(file.size)}})</span>
              <button class="btn btn-warning btn-xs"
                      x-ng-click="file.pause()"
                      x-ng-show="!file.paused"
                      x-ng-hide="file.isComplete()">
                <i class="fa fa-pause"></i>
              </button>
              <button class="btn btn-success btn-xs"
                      x-ng-click="file.resume()"
                      x-ng-show="file.paused"
                      x-ng-hide="file.isComplete()">
                <i class="fa fa-play"></i>
              </button>
              <button class="btn btn-danger btn-xs"
                      x-ng-click="file.cancel()"
                      x-ng-hide="file.isComplete()">
                <i class="fa fa-stop"></i>
              </button>
              <button class="btn btn-success btn-xs"
                      x-ng-click="file.cancel()"
                      x-ng-show="file.isComplete() && !file.error">
                <i class="fa fa-eject"></i>
              </button>
              <progressbar class="progress-striped" min="0" max="100" value="file.progress()*100" style="width:100%" type="{{upload_request.getProgressbarType(file)}}"
                           x-ng-class="{'active': file.isUploading()}">
                {{(file.progress() * 100).toFixed(2)}}%
              </progressbar>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset x-ng-hide="upload_request.tableParams.data.length === 0">
        <legend>
          {{'LEGEND_FILES_ALREADY_UPLOADED' | translate}}
        </legend>
        <div class="table-responsive">
          <table class="table table-striped"
                 x-ng-table="upload_request.tableParams">
            <tbody>
              <tr x-ng-repeat="entry in $data">
                <td data-title="'TABLE.HEADER_NAME' | translate"
                    sortable="'name'">
                  {{entry.name}}
                </td>
                <td data-title="'TABLE.HEADER_SIZE' | translate"
                    sortable="'size'">
                  {{upload_request.humanFileSize(entry.size)}}
                </td>
                <td data-title="'TABLE.HEADER_ACTION' | translate">
                  <div x-ng-show="upload_request.request.canDeleteDocument">
                    <button class="btn btn-danger"
                            x-ng-show="confirm === undefined"
                            x-ng-click="confirm = $index">
                      {{'TABLE.BUTTON_DELETE' | translate}}
                    </button>
                    <button class="btn"
                            x-ng-show="confirm === $index"
                            x-ng-click="confirm = undefined">
                      {{'TABLE.BUTTON_DELETE_NO' | translate}}
                    </button>
                    <button class="btn btn-danger"
                            x-ng-show="confirm === $index"
                            x-ng-click="upload_request.deleteEntry(entry)">
                      {{'TABLE.BUTTON_DELETE_YES' | translate}}
                    </button>
                  </div>
                  <div x-ng-show="!upload_request.request.canDeleteDocument">
                    {{'TABLE.LABEL_NO_ACTION_AVAILABLE' | translate}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </fieldset>
      <fieldset x-ng-show="upload_request.request.canClose">
        <div class="form-group">
          <div class="controls">
            <button type="button" class="btn btn-warning" id="reset"
                    x-ng-click="upload_request.closeRequest()">
              {{'FORM_ACTIONS.CLOSE_REQUEST' | translate}}
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
