<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-primary"
            x-ng-click="upload_request.changeLanguage('en')">
      {{'LANGUAGE.ENGLISH' | translate}}
    </button>
    <button type="button" class="btn btn-primary"
            x-ng-click="upload_request.changeLanguage('fr')">
      {{'LANGUAGE.FRENCH' | translate}}
    </button>
  </div>
    <p>{{'PARAGRAPH.DESCRIPTION' | translate}}</p>
    <form class="form-horizontal" name="uploadRequestForm" novalidate
          x-ng-submit="upload_request.submit()">
      <fieldset>
        <legend>
          {{'LEGEND_MESSAGE'}}
        </legend>
        <div class="form-group">
          <label class="control-label col-md-2">
            {{'LABEL_SUBJECT' | translate}}
          </label>
          <div class="col-md-10">
            <p class="form-control-static">
              {{upload_request.request.subject}}
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">
            {{'LABEL_BODY' | translate}}
          </label>
          <div class="col-md-10">
            <p class="form-control-static">
              {{upload_request.request.body}}
            </p>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          {{'LEGEND_STATUS' | translate}}
        </legend>
        <div class="form-group">
          <label class="control-label col-md-2">
            {{'LABEL_ACTIVATION_DATE' | translate}}
          </label>
          <div class="col-md-10">
            <p class="form-control-static">
              {{upload_request.request.activationDate | date:medium}}
            </p>
          </div>
        </div>
        <div class="form-group"
             x-ng-show="upload_request.request.expiryDate">
          <label class="control-label col-md-2">
            {{'LABEL_EXPIRY_DATE' | translate}}
          </label>
          <div class="col-md-10">
            <p class="form-control-static">
              {{upload_request.request.expiryDate | date:medium}}
            </p>
            <p class="help-block">
              {{'DATE_HELP_BLOCK' | translate}}
            </p>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          {{'LEGEND_UPLOAD' | translate}}
        </legend>
        <div class="col-md-8 col-md-offset-2">
          <div x-flow-init="{query: {'requestUrlUuid': upload_request.urlUuid, 'password': '1qm6xtpyu93qp'}}"
               x-flow-files-added="upload_request.validateFiles($files)"
               x-flow-files-submitted="$flow.upload()">

            <span class="label label-info">
              <!-- {{'FLOW.FILE_COUNT' | translate $flow.getSize()}} -->
            </span>
            <span class="label label-info">
              {{'FLOW.MAX_FILE_SIZE' | translate}}
            </span>
            {{upload_request.humanFileSize($flow.sizeUploaded())}} / {{upload_request.humanFileSize(upload_request.request.maxDepositSize)}}
            <div class="drop"
                 x-flow-drop
                 x-flow-drag-enter="style={border: '2px #4cae4c dashed'}"
                 x-flow-drag-leave="style={border: '2px #46b8da dashed'}"
                 x-ng-style="style">
              <span class="btn btn-primary"
                    x-flow-btn>
                {{'FLOW.BTN_UPLOAD' | translate}}
                <input type="file" multiple="multiple" style="visibility:hidden; position:absolute;"/>
              </span>
            </div>
            <br>
            <div x-ng-repeat="file in $flow.files">
              <span>{{file.name}} ({{file.size}} )</span>
              <button class="btn btn-warning btn-xs"
                      x-ng-click="file.pause()"
                      x-ng-show="!file.paused">
                <i class="fa fa-pause"></i>
              </button>
              <button class="btn btn-success btn-xs"
                      x-ng-click="file.resume()"
                      x-ng-show="file.paused">
                <i class="fa fa-play"></i>
              </button>
              <button class="btn btn-danger btn-xs"
                      x-ng-click="file.cancel()">
                <i class="fa fa-stop"></i>
              </button>
              <progressbar class="progress-striped active" min="0" max="100" value="file.progress()*100" style="width:100%">
                {{(file.progress() * 100).toFixed(2)}}%
              </progressbar>
            </div>
          </div>
          <div class="form-group">
            <div class="controls">
              <button type="button" class="btn btn-warning" id="reset"
                      x-ng-click="upload_request.reset()">
                {{'FORM_ACTIONS.RESET' | translate}}
              </button>
              <button type="submit" class="btn btn-success" id="submit">
                {{'FORM_ACTIONS.SUBMIT' | translate}}
              </button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
