.ls-popover {
  max-width: 240px;
  padding: 10px;
  background-color: #ffffff;

  &-title {
    text-align: center;
  }

  &-btn-container {
    float: right;

    &-delete-btn {
      margin-left: 10px;
    }
  }
}