@import '../../node_modules/@mdi/font/css/materialdesignicons.min.css';
@import './fonts/LinShare/linshare.scss';
@import './fonts/Inter/inter.scss';

.v-application {
  font-family: 'Inter', sans-serif !important;
}

.ls-popover {
  padding: 10px;
  background-color: #ffffff;

  &-title {
    text-align: center;
  }

  &-btn-container {
    float: right;

    &-delete-btn {
      margin-left: 10px;
    }
  }
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.display-flex {
  display: flex;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}
