.ls-popover {
  max-width: 240px;
  padding: 10px;
  background-color: #ffffff;

  &-title {
    text-align: center;
  }

  &-btn-container {
    float: right;

    &-delete-btn {
      margin-left: 10px;
    }
  }
}

@font-face {
  font-family: 'LinShare';
  src:
    url('fonts/LinShare.ttf?nk2hfb') format('truetype'),
    url('fonts/LinShare.woff?nk2hfb') format('woff'),
    url('fonts/LinShare.svg?nk2hfb#LinShare') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ls-icons"], [class*=" ls-icons"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'LinShare' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ls-icons-uploads {
  &:before {
    content: "\e902";
  }
}
.ls-icons-upload-request-collective {
  &:before {
    content: "\e900";
  }
}
.ls-icons-upload-request-individual {
  &:before {
    content: "\e901";
  }
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.display-flex {
  display: flex;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}