/*
  TABLE OFFSET VALUES

  Adjust following values so that on collapsed detail panel,
  The page would fit the screen
*/
$table-offset-sm: 295px;
$table-offset-md: 403px;
$table-offset-md-closed: 366px;

$table-empty-offset-sm: 267px;
$table-empty-offset-md: 475px;
$table-empty-offset-md-closed: 414px;